@{
    ViewBag.Title = "Home Page";
}
<style>
.logo{
    height:auto;
    width:300px;
    float:left;
    margin:30px 0px 0px 70px
}

.welcome{
    margin: 10px;
    padding: 20px;
    text-align:center;
}

.uni{
    font-family:'Times New Roman',sans-serif;
    line-height:110px;
}

.fresher{
    font-family:sans-serif;
    margin-top:60px;
}
</style>
<div class="home_page">
    <img src="~/Content/img/CUPL.png" class="logo" />
    <div class="welcome">
        <h2 class="uni">University Of Computer Studies (PangLong)</h2>
        <h3 class="fresher">Voting For Fresher Welcome Party</h3>
        <p>Welcome all the freshers to UCSPL</p>
    </div>
</div>